<p>tournaments works!</p>
<h2>los torneos</h2>
<h2>Lista de Torneosss</h2>

<ul>
    <li *ngFor="let t of tournaments">
        {{ t.name }} - {{ t.season }}
    </li>
</ul>
<h1>asas</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">tournament_id</th>
            <th scope="col">Name</th>
            <th scope="col">Season</th>
            <!-- <th scope="col">Handle</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of tournaments">
            <th scope="row">{{ t.tournament_id }}</th>
            <td>{{ t.name }}</td>
            <td>{{ t.season }}</td>
        </tr>
    </tbody>
</table>