<p>list-season works!</p>

sexo tilin
<p>LISATDAO DE NOTICIAS COMPONENT</p>
<div class="container mt-5">
    <!-- <div>
        @for (item of seasons; track item.season_id) {
        <li>{{ item.name }}</li>
        } @empty {
        <li>No hay elementos.</li>
        }

    </div> -->

    <p-table [value]="seasons" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>seson id</th>
                <th>Name</th>
                <th>Estado</th>
                <!-- <th>Quantity</th> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.season_id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.active }}</td>
                <!-- <td>{{ product.quantity }}</td> -->
            </tr>
        </ng-template>
    </p-table>


</div>