<!-- <p>list-banners works!</p>
<h2>Mis Banners</h2> -->

<div class="flex justify-between align-items-center mb-4">
    <h2>Gestión de Banners</h2>
    <p-button label="Nuevo Banner" icon="pi pi-plus" severity="success" (onClick)="openCreate()">
    </p-button>
</div>

<div class="container mt-5">
    <p-table [value]="banner" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Banner ID</th>
                <th>Imagen</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{ item.banner_id }}</td>
                <td>
                    @if (item.file_id || item.files) {
                    <img [src]="getImagenUrl(item)" [alt]="item.banner_id"
                        class="rounded shadow-sm my-1 border border-gray-200"
                        style="width: 300px; height: 130px; object-fit: cover;" />
                    } @else {
                    <span class="text-xs text-gray-400 italic">Sin imagen</span>
                    }
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="2" class="text-center p-4">No hay banners para mostrar.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- COMPONENTES DE PÁGINAS ACCIONABLES COMO MODALES -->
<app-create-banners [(display)]="showCreateModal" (onCreated)="cargarNoticias()">
</app-create-banners>
