<p>list-banners works!</p>
<h2>Mis Banners</h2>

<div class="banners-list">
    <!-- Reemplaza 'id', 'titulo' y 'descripcion' por las propiedades reales de tu objeto Banners -->
    @for (banner of data; track banner.banner_id) {
    <div class="banner-card">
        <!-- <h3>{{ banner.banner_id }}</h3>
        <p>{{ banner.file_id }}</p> -->

        <!-- Si tiene file_id o relación de archivo -->
        @if (banner.file_id || banner.files) {
            <h3>{{ banner.banner_id }}</h3>
        <img [src]="getImagenUrl(banner)" [alt]="banner.banner_id" class="rounded shadow-sm my-1 border border-gray-200"
            style="width: 500px; height: 200px;" />
        } @else {
        <span class="text-xs text-gray-400 italic">Sin imagen</span>
        }

    </div>
    } @empty {
    <p>No hay banners para mostrar.</p>
    }
</div>