.admin-layout-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Evita que toda la página web tenga un scroll feo */
}

.admin-main-content {
  flex: 1; /* Ocupa todo el espacio restante a la derecha del sidebar */
  padding: 25px;
  background-color: #f4f6f9; /* Un fondo gris claro muy elegante para los formularios/tablas */
  overflow-y: auto; /* Si el listado de noticias es largo, solo esta parte tendrá scroll */
}