<p>LISATDAO DE NOTICIAS COMPONENT</p>
<button 
      (click)="abrirCrear()" 
      class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded shadow-sm transition-colors">
      Registrar Noticia
    </button>
<div class="container mt-5">
    <input pInputText type="text" [(ngModel)]="filtros.title" placeholder="Buscar noticia por título..."
        (input)="cargarNoticias() " class="w-full md:w-20rem">

    
        <span class="block text-900 font-medium mb-2">Estado</span>
        <p-select [(ngModel)]="filtros.is_active" [options]="opcionesEstado" optionLabel="label" optionValue="value"
            placeholder="Selecciona estado" (onChange)="cargarNoticias()" class="w-full md:w-15rem custom-select-lg">
        </p-select>
    

    <!-- <button mat-raised-button style="color: rgb(4, 200, 50);">crear noticia</button> -->
    <button mat-raised-button color="primary" (click)="abrirModalCrear()">
        Agregar Noticia
    </button>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-3">

        <!-- Columna ID -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let usuario"> {{usuario.news_id}} </td>
        </ng-container>

        <!-- Columna Nombre -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Titulo </th>
            <td mat-cell *matCellDef="let usuario"> {{usuario.title}} </td>
        </ng-container>

        <ng-container matColumnDef="summary">
            <th mat-header-cell *matHeaderCellDef> Resumen </th>
            <td mat-cell *matCellDef="let usuario"> {{usuario.summary}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descripcion </th>
            <td mat-cell *matCellDef="let usuario"> {{usuario.description}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let usuario"> {{usuario.actions}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="columnasMostradas"></tr>
        <tr mat-row *matRowDef="let fila; columns: columnasMostradas;"></tr>
    </table>

    <!-- Opcional: Paginador -->
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>