<!-- <p>form-news works!</p> -->
<h2 mat-dialog-title>{{ isEditMode ? 'Editar Noticia' : 'Crear Nueva Noticia' }}</h2>

<mat-dialog-content [formGroup]="formNews" class="mt-2">

    <div class="d-flex flex-column gap-3">
        <!-- <div>Elemento hijo 1</div> -->
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Título</mat-label>
            <input matInput formControlName="title" maxlength="30">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Resumen (Opcional)</mat-label>
            <input matInput formControlName="summary" maxlength="30">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="description" rows="3" maxlength="60"></textarea>
        </mat-form-field>
        <!-- <div>Elemento hijo 2</div>
        <div>Elemento hijo 3</div> -->
    </div>

    <div class="d-flex gap-4">
        <mat-form-field appearance="outline" class="w-1/2">
            <mat-label>Fecha de Inicio</mat-label>
            <input matInput [matDatepicker]="pickerBegin" formControlName="begin_date" readonly>
            <mat-datepicker-toggle matSuffix [for]="pickerBegin"></mat-datepicker-toggle>
            <mat-datepicker #pickerBegin></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-1/2">
            <mat-label>Fecha de Fin</mat-label>
            <input matInput [matDatepicker]="pickerEnd" formControlName="end_date" readonly>
            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
            <mat-datepicker #pickerEnd></mat-datepicker>
        </mat-form-field>
    </div>

    <!-- SECCIÓN DE LA IMAGEN/ARCHIVO -->
    <div class="border-2 border-dashed border-gray-300 p-4 rounded-lg text-center">
        <label class="block text-sm font-medium text-gray-700 mb-2">Imagen de la Noticia</label>

        <!-- Preview de la foto si seleccionó alguna -->
        @if (imagePreview) {
        <div class="mb-3 flex justify-center">
            <img [src]="imagePreview" class="h-32 object-cover rounded shadow" />
        </div>
        }

        <!-- Input File Oculto o Estilizado -->
        <input type="file" #fileInput accept="image/*,video/*" (change)="onFileSelected($event)" class="hidden" />

        <button type="button" mat-stroked-button color="primary" (click)="fileInput.click()">
            <mat-icon>cloud_upload</mat-icon>
            {{ selectedFile ? 'Cambiar Imagen' : 'Seleccionar Imagen' }}
        </button>

        @if (selectedFile) {
        <p class="text-xs text-gray-500 mt-1">{{ selectedFile.name }}</p>
        }
    </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="cancelar()">Cancelar</button>

    <button mat-raised-button color="primary" [disabled]="formNews.invalid" (click)="guardar()">
        {{ isEditMode ? 'Actualizar' : 'Guardar' }}
    </button>
</mat-dialog-actions>