<p>news works!</p>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Columna ID -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let usuario"> {{usuario.id}} </td>
    </ng-container>

    <!-- Columna Nombre -->
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let usuario"> {{usuario.nombre}} </td>
    </ng-container>

    <!-- Columna Correo -->
    <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef> Correo </th>
        <td mat-cell *matCellDef="let usuario"> {{usuario.correo}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnasMostradas"></tr>
    <tr mat-row *matRowDef="let fila; columns: columnasMostradas;"></tr>
</table>

<!-- Opcional: Paginador -->
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-mat-paginator>